body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-color: white;
  back
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}

.top_header {
  color: black;
  font-size: 48px;

}
.navbar-custom {
      background-color:#229922;
      color:#ffffff;
      border-radius:0;
  }
  .navbar-custom .navbar-nav > li > a {
      color:#fff;
  }
  .navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #ffffff;
      background-color:transparent;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}
h6 {
  font-size: 12px;
  font-color: white;
}
.footer {
  padding: 1rem;
  background-color: #229922;
  text-align: center;
}
.btn-primary {
    color: #fff;
    background-color: #229922;
    border-color: #229922;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #35CB3B;
    border-color: #35CB3B; /*set the color you want here*/
}
img { width: 100%; }
